*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: white; text-decoration: none;}

@media screen and (min-width: 800px){
    .infoAndNextVideo
    {
        display: flex;
        flex-direction: column;
    }
}

body
{
    font-family: roboto;
    background-color: black;
}

/*side bar*/
.blind
{
    position: absolute;
    top:0;
    left:0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
header{
    border-bottom: 1px solid #000000;
}
.side_toggle_btn::before
{
    color: #ffffff;
    content: "▶";
    display: inline-block;
    width: 50px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    border-right: 1px solid #000000;
}
.side_input:checked + .side_toggle_btn::before
{
    content: "◀";
}
.side_input:checked ~ .side_list
{
    left: 0;
}
.side_list
{
    background-color: black;
    color: white;
    position: absolute;

    left: -500px;
    top: 50px;
    bottom: 0;
    border-right: 1px solid black;
    width: 500px;
    font-size: 24px;
    transition: 0.3s ease-in;
    z-index: 1;
}
.sdie_link
{
    display: block;
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid #000000;
}
.title1
{
    color: white;
    font-weight: 800;
}

/*bot intro*/
.bot_intro_0
{
    text-align: center;
    font-size: 900%;
    font-weight: 800;
    padding-top: 0%;
    color: white; 
}
.bot_intro
{
    text-align: center;
    font-size: 900%;
    font-weight: 800;
    padding-top: 100%;
    color: white;
}


.bot_icon
{
    text-align: center;
    max-width: 100%;
    height: auto;
    display: block;
}
.bot_intro_mod
{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 1270;
    font-size: 600%;
    font-weight: 800;
    padding-top: 25%;
    color: white;
    float: left;
}
.title3
{
    color: white;
    font-weight: 800;
    padding-top: 10%;
    width: 1000px;
}
.moderate_ex
{
    float:right;
    padding-top: 30%;
    position: absolute;
    width: 100px;
    left: 90%;
}
.title2
{
    display: flex;
    flex-direction: column;
    padding-bottom: 55%;
    color: white;
    font-size: x-large;
    font-weight: 800;
    width: 50px;
}
.bot_intro_fun
{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 1270;
    font-size: 600%;
    font-weight: 800;
    padding-top: 75%;
    color: white;
    float: right;
}
.fun_ex
{
    color: white;
    float:left;
    padding-top: 82%;
    position: absolute;
    width: 100px;
}
.title4
{
    display: flex;
    flex-direction: column;
    padding-bottom: 55%;
    color: white;
    font-size: x-large;
    font-weight: 800;
    width: 50px;
}